<div class="container3">
  <div class="row row1">
    <div class="col-lg-12 f">
      <div class="top_page">
        <img src="https://emarketinglab.info/wp-content/themes/original/images/logo_white.svg" alt="Eマーケティング研究所" class="logo2">
      </div>
    </div>
    </div>
  </div>
</div>
